<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145815930741-062bit9tcbrr9t55aap721kc91eeh9m6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145815930741-062bit9tcbrr9t55aap721kc91eeh9m6</string>
	<key>API_KEY</key>
	<string>AIzaSyAWw0fmEqLap5l2UPZO08jgQwuJhnCQGfA</string>
	<key>GCM_SENDER_ID</key>
	<string>145815930741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.chat.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-982d2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-982d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145815930741:ios:66e64e3e7d38a53854f53c</string>
</dict>
</plist>